#root {
  font-family: "Open Sans", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding: 10px;
  border: solid black 1px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navLink {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

#nav a.active {
  color: #a569bd;
}

a {
  font-weight: 500;
  color: #1c2833;
  text-decoration: inherit;
}

.table-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px auto;
}

.table-select {
  margin: 10px;
  padding-left: 25%;
}
.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.heading {
  font-weight: bold;
}

.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  border-left: 1px solid #1c2833;
}

.row-item__first {
  border-left: transparent;
}

.row-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.errorMsg {
  color: red;
}

.intro {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 4rem;
  font-size: large;
}

.confession-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 300px;
  gap: 10px;
}

label {
  margin: 10px;
}

input,
select {
  width: 300px;
  height: 30px;
}

textarea {
  height: 150px;
  width: 460px;
  margin-bottom: 10px;
}

button {
  align-self: center;
  margin-left: 200px;
  padding: 10px;
  width: 100px;
}
